@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Motify Pro';
    src: url('./fonts/MotifyPro-Regular.eot'),
    	url('./fonts/MotifyPro-Regular.eot?#iefix') format('embedded-opentype'),
    	url('./fonts/MotifyPro-Regular.woff2') format('woff2'),
        url('./fonts/MotifyPro-Regular.woff') format('woff'),
        url('./fonts/MotifyPro-Regular.ttf') format('truetype'),
        url('./fonts/MotifyPro-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Motify Pro';
    src: url('./fonts/MotifyPro-Medium.eot'),
    	url('./fonts/MotifyPro-Medium.eot?#iefix') format('embedded-opentype'),
    	url('./fonts/MotifyPro-Medium.woff2') format('woff2'),
        url('./fonts/MotifyPro-Medium.woff') format('woff'),
        url('./fonts/MotifyPro-Medium.ttf') format('truetype'),
        url('./fonts/MotifyPro-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Motify Pro';
    src: url('./fonts/MotifyPro-Bold.eot'),
    	url('./fonts/MotifyPro-Bold.eot?#iefix') format('embedded-opentype'),
    	url('./fonts/MotifyPro-Bold.woff2') format('woff2'),
        url('./fonts/MotifyPro-Bold.woff') format('woff'),
        url('./fonts/MotifyPro-Bold.ttf') format('truetype'),
        url('./fonts/MotifyPro-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Motify Pro';
    src: url('./fonts/MotifyPro-Black.eot'),
    	url('./fonts/MotifyPro-Black.eot?#iefix') format('embedded-opentype'),
    	url('./fonts/MotifyPro-Black.woff2') format('woff2'),
        url('./fonts/MotifyPro-Black.woff') format('woff'),
        url('./fonts/MotifyPro-Black.ttf') format('truetype'),
        url('./fonts/MotifyPro-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

body.motify {
	overflow-x: hidden;
	font-family: 'Motify Pro', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

body, html {
    height: 100%;
    width: 100%;
	background: #F2F4F9;
}

#app {
	margin: 0px;
}

.motify-container {
	display: -ms-flexbox;
    display: flex;
	-webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
	align-self: center;
	margin: 0;
	padding: 0;
	max-width: 100%;
	width: 100%;
}

.motify-grid-background {
	z-index: 0;
}

.motify-grid-background::before {
	content: '';
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMiAzMiIgd2lkdGg9IjMyIiBoZWlnaHQ9IjMyIiBmaWxsPSJub25lIiBzdHJva2U9InJnYigxNDggMTYzIDE4NCAvIDAuMDUpIj48cGF0aCBkPSJNMCAuNUgzMS41VjMyIi8+PC9zdmc+);
	-webkit-mask-image: linear-gradient(to top, transparent, white);
	mask-image: linear-gradient(to top, transparent, white);
    min-height: 100vh;
    width: 100%;
    position: absolute;
	border-width: 0px;
	z-index: -1;
}

.motify-padder {
	padding: 64px 36px 40px 26px;
}

.motify-header-shadow {
	-webkit-box-shadow: 0 0 #0000, 0 0 #0000, 0 10px 15px -3px rgb(0 0 0 / .1), 0 4px 6px -4px rgb(0 0 0 / .1);
	box-shadow: 0 0 #0000, 0 0 #0000, 0 10px 15px -3px rgb(0 0 0 / .1), 0 4px 6px -4px rgb(0 0 0 / .1);
}

.motify-listbox-shadow {
	-webkit-box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.2);
}

.motify-mobile-menu-animation {
	-ms-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
	-moz-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
	-webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
	-o-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
	transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 640px) {
	.motify-container {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.motify-container {
		max-width: 720px;
	}
}

@media (min-width: 1024px) {
	.motify-container {
		max-width: 960px;
	}
}

@media (min-width: 1280px) {
	.motify-container {
		max-width: 1140px;
	}

	.motify-padder {
		padding: 80px 100px 64px;
	}
}

@media (min-width: 2048px) {
	.motify-container {
		max-width: 1580px;
	}
}

.motify-full-height {
	min-height: calc(100vh - 164px);
}

.motify-sidebar-full-height {
	height: calc(100vh - 335px);
}

.motify-clientarea-sidebar {
	position: relative;
    left: 0px;
    min-width: 240px;
	max-width: 240px;
	width: 240px;
}

.motify-clientarea-sidebar.motify--expanded {
	z-index: 8996;
}

@media (max-width: 1024px) {
	
	.motify-sidebar-full-height {
		height: calc(100vh - 200px);
	}

	.motify-clientarea-sidebar {
		width: 100%;
		max-width: 95%;
		position: fixed;
		background: #F8FAFC;
		-webkit-box-shadow: 8px 0px 40px rgba(0, 0, 0, 0.15);
		box-shadow: 8px 0px 40px rgba(0, 0, 0, 0.15);
		-ms-transform: translateX(-100%);
		-moz-transform: translateX(-100%);
		-o-transform: translateX(-100%);
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
		z-index: 8996;
	}
	
	.motify-clientarea-sidebar.motify--expanded {
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}
}

@media (max-width: 768px) {
	.motify-clientarea-sidebar {
		height: calc(100vh - 56px);
	}
}

@media (min-width: 1024px) {
	.motify-clientarea-sidebar,
	.motify-clientarea-sidebar > div:nth-child(1),
	.motify-clientarea-sidebar > div:nth-child(1) > div:nth-child(1) {
		min-height: calc(100vh - 335px);
		max-height: calc(100vh - 335px);;
	}
}

.motify-clientarea-sidebar,
.motify-clientarea-sidebar.motify--expanded {
	-moz-transition: -moz-transform 300ms cubic-bezier(.17,.67,.83,.67);
	-o-transition: -o-transform 300ms cubic-bezier(.17,.67,.83,.67);
	-webkit-transition: -webkit-transform 300ms cubic-bezier(.17,.67,.83,.67);
	transition: transform 300ms cubic-bezier(.17,.67,.83,.67);
}

.motify-clientarea-full-height {
	min-height: calc(100vh - 113px);
	height: 100%;
}

.motify-text-shadow-sm {
	text-shadow: 1px 1px 3px #00000040;
}

.motify-text-shadow-services--status {
	text-shadow: 2px 1px 1px #00000050;
}

.motify-card-shadow {
	-webkit-box-shadow: rgba(71, 103, 136, 0.06) 0px 15px 30px, rgba(71, 103, 136, 0.03) 0px 8px 15px, rgba(71, 103, 136, 0.04) 0px 4px 4.5px;
	box-shadow: rgba(71, 103, 136, 0.06) 0px 15px 30px, rgba(71, 103, 136, 0.03) 0px 8px 15px, rgba(71, 103, 136, 0.04) 0px 4px 4.5px;
}

.motify-order-table > tbody > tr > th,
.motify-order-table > tbody > tr > td {
	padding: 6px 0;
}

.motify-btn-sm {
	font-size: 14px !important;
	padding: 12px 48px !important;
	font-weight: 500 !important;
}

.motify-btn-xs {
	font-size: 12px !important;
	font-weight: initial !important;
	border-radius: 4px !important;
	width: auto !important;
}

.motify-btn-icon {
	padding: 0 !important;
	width: 40px !important;
	max-height: 28px !important;
	height: 28px !important;
}

.motify-table-btn-sm {
	font-size: 12px !important;
	padding: 6px 15px !important;
	display: inline-block !important;
	width: auto !important;
	vertical-align: middle !important;
	display: block !important;
	margin: 0 auto !important;
}

@media (max-width: 1700px) {
	.motify-clientarea-content {
		padding-bottom: 104px;
	}	
}

.motify-auth-divider::before,
.motify-auth-divider::after {
	content: '';
	height: 1px;
	max-height: 1px;
	min-height: 1px;
	display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
	-webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
	background: #2f4553;
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: transparent !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	-webkit-user-select: none !important;
	user-select: none !important;
}

.motify-auth-divider::before {
	margin: 0 8px 0 0;
}

.motify-auth-divider::after {
	margin: 0 0 0 8px;
}

.motify-table > thead > tr > th,
.motify-table > tbody > tr > td {
	padding: 5px 10px;
}

.motify-table-md > thead > tr > th,
.motify-table-md > tbody > tr > td {
	padding: 14px 10px;
}

.motify-table-md > thead > tr.odd,
.motify-table-md > tbody > tr.odd {
	background: #f3f4f6;
}

input.motify-input:focus {
	outline:none !important;
    outline-width: 0 !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
}


/*********************************************
	[BEGIN] Tippy.js
*/

.tippy-box {
	background: #0C134F !important;
}

.tippy-arrow {
	color: #0C134F !important;
}

.tippy-box, .tippy-arrow, .tippy-content {
	font-family: 'Motify Pro', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !important;
	-webkit-tap-highlight-color: transparent !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	-webkit-user-select: none !important;
	user-select: none !important;
}



/*
	[END] Tippy.js
*********************************************/



/*********************************************
	[BEGIN] SweetAlert
*/

.motify-toast.swal2-icon-success {
	background-color: #198754 !important;
}

.motify-toast.swal2-icon-error {
	background-color: #f27474 !important;
}

.motify-toast.swal2-icon-warning {
	background-color: #f8bb86 !important;
}

.motify-toast.swal2-icon-info {
	background-color: #3fc3ee !important;
}

.motify-toast.swal2-icon-question {
	background-color: #87adbd !important;
}

.motify-toast .swal2-title {
	color: #FFFFFF;
}

.motify-toast .swal2-close {
	color: #FFFFFF;
}

.motify-toast .swal2-html-container {
	color: #FFFFFF;
}

.swal2-container,
.swal2-container *,
.swal2-title,
.swal2-html-container {
	font-family: 'Motify Pro', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !important;
	-webkit-tap-highlight-color: transparent !important;
	-moz-user-select: none !important;
	-ms-user-select: none !important;
	-webkit-user-select: none !important;
	user-select: none !important;
}

.motify-toast .swal2-title {
	margin-bottom: 4px !important;
}

.motify-toast .swal2-html-container {
	margin-top: 0px !important;
}

/*
	[END] SweetAlert
*********************************************/



/*********************************************
	[BEGIN] DataTables
*/

:root {
	--dt-row-selected: 13, 110, 253;
	--dt-row-selected-text: 255, 255, 255;
	--dt-row-selected-link: 9, 10, 11;
	--dt-row-stripe: 0, 0, 0;
	--dt-row-hover: 0, 0, 0;
	--dt-column-ordering: 0, 0, 0;
	--dt-html-background: white
}

:root.dark {
	--dt-html-background: rgb(33, 37, 41)
}

table.dataTable td.dt-control {
	text-align: center;
	cursor: pointer
}

table.dataTable td.dt-control:before {
	display: inline-block;
	color: rgba(0, 0, 0, 0.5);
	content: "►"
}

table.dataTable tr.dt-hasChild td.dt-control:before {
	content: "▼"
}

html.dark table.dataTable td.dt-control:before {
	color: rgba(255, 255, 255, 0.5)
}

html.dark table.dataTable tr.dt-hasChild td.dt-control:before {
	color: rgba(255, 255, 255, 0.5)
}

table.dataTable thead>tr>th.sorting,
table.dataTable thead>tr>th.sorting_asc,
table.dataTable thead>tr>th.sorting_desc,
table.dataTable thead>tr>th.sorting_asc_disabled,
table.dataTable thead>tr>th.sorting_desc_disabled,
table.dataTable thead>tr>td.sorting,
table.dataTable thead>tr>td.sorting_asc,
table.dataTable thead>tr>td.sorting_desc,
table.dataTable thead>tr>td.sorting_asc_disabled,
table.dataTable thead>tr>td.sorting_desc_disabled {
	cursor: pointer;
	position: relative;
	padding-right: 26px
}

table.dataTable thead>tr>th.sorting:before,
table.dataTable thead>tr>th.sorting:after,
table.dataTable thead>tr>th.sorting_asc:before,
table.dataTable thead>tr>th.sorting_asc:after,
table.dataTable thead>tr>th.sorting_desc:before,
table.dataTable thead>tr>th.sorting_desc:after,
table.dataTable thead>tr>th.sorting_asc_disabled:before,
table.dataTable thead>tr>th.sorting_asc_disabled:after,
table.dataTable thead>tr>th.sorting_desc_disabled:before,
table.dataTable thead>tr>th.sorting_desc_disabled:after,
table.dataTable thead>tr>td.sorting:before,
table.dataTable thead>tr>td.sorting:after,
table.dataTable thead>tr>td.sorting_asc:before,
table.dataTable thead>tr>td.sorting_asc:after,
table.dataTable thead>tr>td.sorting_desc:before,
table.dataTable thead>tr>td.sorting_desc:after,
table.dataTable thead>tr>td.sorting_asc_disabled:before,
table.dataTable thead>tr>td.sorting_asc_disabled:after,
table.dataTable thead>tr>td.sorting_desc_disabled:before,
table.dataTable thead>tr>td.sorting_desc_disabled:after {
	position: absolute;
	display: block;
	opacity: .125;
	right: 10px;
	line-height: 9px;
	font-size: .8em
}

table.dataTable thead>tr>th.sorting:before,
table.dataTable thead>tr>th.sorting_asc:before,
table.dataTable thead>tr>th.sorting_desc:before,
table.dataTable thead>tr>th.sorting_asc_disabled:before,
table.dataTable thead>tr>th.sorting_desc_disabled:before,
table.dataTable thead>tr>td.sorting:before,
table.dataTable thead>tr>td.sorting_asc:before,
table.dataTable thead>tr>td.sorting_desc:before,
table.dataTable thead>tr>td.sorting_asc_disabled:before,
table.dataTable thead>tr>td.sorting_desc_disabled:before {
	bottom: 50%;
	content: "▲";
	content: "▲" /""
}

table.dataTable thead>tr>th.sorting:after,
table.dataTable thead>tr>th.sorting_asc:after,
table.dataTable thead>tr>th.sorting_desc:after,
table.dataTable thead>tr>th.sorting_asc_disabled:after,
table.dataTable thead>tr>th.sorting_desc_disabled:after,
table.dataTable thead>tr>td.sorting:after,
table.dataTable thead>tr>td.sorting_asc:after,
table.dataTable thead>tr>td.sorting_desc:after,
table.dataTable thead>tr>td.sorting_asc_disabled:after,
table.dataTable thead>tr>td.sorting_desc_disabled:after {
	top: 50%;
	content: "▼";
	content: "▼" /""
}

table.dataTable thead>tr>th.sorting_asc:before,
table.dataTable thead>tr>th.sorting_desc:after,
table.dataTable thead>tr>td.sorting_asc:before,
table.dataTable thead>tr>td.sorting_desc:after {
	opacity: .6
}

table.dataTable thead>tr>th.sorting_desc_disabled:after,
table.dataTable thead>tr>th.sorting_asc_disabled:before,
table.dataTable thead>tr>td.sorting_desc_disabled:after,
table.dataTable thead>tr>td.sorting_asc_disabled:before {
	display: none
}

table.dataTable thead>tr>th:active,
table.dataTable thead>tr>td:active {
	outline: none
}

div.dataTables_scrollBody>table.dataTable>thead>tr>th:before,
div.dataTables_scrollBody>table.dataTable>thead>tr>th:after,
div.dataTables_scrollBody>table.dataTable>thead>tr>td:before,
div.dataTables_scrollBody>table.dataTable>thead>tr>td:after {
	display: none
}

.dataTables_info {
	margin-top: 14px;
}

.dataTables_filter {
	margin-bottom: 14px;
}

.dataTables_filter input[type="search"] {
	margin-left: 6px;
	border: 1px solid #0c0c0c70;
	border-radius: 4px;
	padding: 0 12px;
	font-size: 14px;
	-ms-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
	-moz-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
	-webkit-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
	-o-transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
	transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dataTables_filter input[type="search"]:focus {
	outline: none;
	border: 1px solid #0b1147;
}

/*
	[END] DataTables
*********************************************/

*::-moz-selection {
	color: #FFFFFF;
	background: #D4ADFC;
	text-shadow: 0px 1px 6px #00000020;
	-ms-transition: height, max-height, opacity, fill, stroke 300ms cubic-bezier(0.4, 0, 0.2, 1);
	-moz-transition: height, max-height, opacity, fill, stroke 300ms cubic-bezier(0.4, 0, 0.2, 1);
	-webkit-transition: height, max-height, opacity, fill, stroke 300ms cubic-bezier(0.4, 0, 0.2, 1);
	-o-transition: height, max-height, opacity, fill, stroke 300ms cubic-bezier(0.4, 0, 0.2, 1);
	transition: height, max-height, opacity, fill, stroke 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

*::selection {
	color: #FFFFFF;
	background: #D4ADFC;
	text-shadow: 0px 1px 6px #00000020;
	-ms-transition: height, max-height, opacity, fill, stroke 300ms cubic-bezier(0.4, 0, 0.2, 1);
	-moz-transition: height, max-height, opacity, fill, stroke 300ms cubic-bezier(0.4, 0, 0.2, 1);
	-webkit-transition: height, max-height, opacity, fill, stroke 300ms cubic-bezier(0.4, 0, 0.2, 1);
	-o-transition: height, max-height, opacity, fill, stroke 300ms cubic-bezier(0.4, 0, 0.2, 1);
	transition: height, max-height, opacity, fill, stroke 300ms cubic-bezier(0.4, 0, 0.2, 1);
}